<script lang="ts" setup>
import { RouterView } from "vue-router";
import { useAccountStore } from "@/store/account";

const storeAccount = useAccountStore();
storeAccount.initToken();
</script>

<template>
	<RouterView />
</template>

<style lang="scss" scoped></style>
