<template>
	<PrivateLayouts>
		<div id="dashboard" class="dashboard">
			<LinkCards :stat="stat" :exclude-key="[]" class="dashboard__cards" />
			<div class="dashboard__tables">
				<el-table v-if="!isEmpty(uniqIP)" :data="uniqIP" table-layout="auto" class="dashboard__table" border>
					<el-table-column label="Ip" min-width="50">
						<template #default="scope">
							<span>{{ scope.row }}</span>
						</template>
					</el-table-column>
				</el-table>
				<el-table
					v-if="!isEmpty(uniqUserAgent)"
					:data="uniqUserAgent"
					table-layout="auto"
					class="dashboard__table"
					border
				>
					<el-table-column label="UserAgent" min-width="50">
						<template #default="scope">
							<span>{{ scope.row }}</span>
						</template>
					</el-table-column>
				</el-table>
				<el-table v-if="!isEmpty(uniqRefer)" :data="uniqRefer" table-layout="auto" class="dashboard__table" border>
					<el-table-column label="Refer" min-width="50">
						<template #default="scope">
							<span>{{ scope.row }}</span>
						</template>
					</el-table-column>
				</el-table>
			</div>
		</div>
	</PrivateLayouts>
</template>

<script lang="ts" setup>
import { onMounted, reactive, ref } from "vue";
import assignIn from "lodash/assignIn";
import { ElTable, ElTableColumn } from "element-plus";
import isEmpty from "lodash/isEmpty";
import type { ILinkStat } from "@/helpers/linkstat.helper";
import PrivateLayouts from "@/layouts/PrivateLayouts.vue";
import useLoading from "@/hooks/useLoading";
import { showErrorMessage } from "@/helpers/error.handling.helper";
import { useAccountStore } from "@/store/account";
import { useLinksStore } from "@/store/links";
import LinkCards from "@/components/partial/LinkCards.vue";

const storeAccount = useAccountStore();
const storeLinks = useLinksStore();

const stat = reactive<ILinkStat>({
	totalClicks: 0,
	dayClicks: 0,
	monthClicks: 0,
	countLinks: 0,
});
const uniqIP = ref<string[]>([]);
const uniqUserAgent = ref<string[]>([]);
const uniqRefer = ref<string[]>([]);

useLoading("#dashboard");

onMounted(async () => {
	try {
		const response = await storeLinks.statAll();
		assignIn(stat, {
			totalClicks: response.totalClicks,
			dayClicks: response.dayClicks,
			monthClicks: response.monthClicks,
			countLinks: response.countLinks,
		});
		uniqIP.value = response.uniqIP ?? [];
		uniqUserAgent.value = response.uniqUserAgent ?? [];
		uniqRefer.value = response.uniqRefer ?? [];
	} catch (err: unknown) {
		assignIn(storeAccount.alert, showErrorMessage(err));
	}
});
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.dashboard {
	@include media-extra-small-down() {
		width: 100%;
	}

	@include media-extra-small-only2() {
		width: 100%;
	}

	&__cards {
		margin-bottom: 16px;

		@include media-extra-small-only2() {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-compact-only() {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__tables {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 16px;
		max-width: 960px;

		@include media-extra-small-down() {
			flex-direction: column;
		}

		@include media-extra-small-only2() {
			flex-direction: column;
		}
	}
}
</style>
