<template>
	<PublicLayouts>
		<div class="home">
			<h1 class="home__title">Сервис сокращения ссылок</h1>
			<LinkForm />
		</div>
	</PublicLayouts>
</template>

<script lang="ts" setup>
import PublicLayouts from "@/layouts/PublicLayouts.vue";
import LinkForm from "@/components/partial/LinkForm.vue";
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 24px;

	@include media-extra-small-down() {
		width: 100%;
	}

	@include media-extra-small-only2() {
		width: 100%;
	}

	@include media-compact-only() {
		width: 100%;
	}

	&__title {
		font-size: 54px;
		font-weight: 500;
		margin: 0;

		@include media-extra-small-down() {
			font-size: 27px;
			text-align: center;
		}

		@include media-extra-small-only2() {
			font-size: 38px;
			text-align: center;
		}

		@include media-compact-only() {
			font-size: 42px;
			text-align: center;
		}
	}
}
</style>
