<template>
	<PrivateLayouts>
		<div class="links_create">
			<LinkReduce layout="vertikal" @on-save="onSave" />
		</div>
	</PrivateLayouts>
</template>

<script lang="ts" setup>
import assignIn from "lodash/assignIn";

import type { FormState } from "vee-validate";
import type { IFormValues } from "@/components/partial/LinkReduce/data";
import PrivateLayouts from "@/layouts/PrivateLayouts.vue";
import LinkReduce from "@/components/partial/LinkReduce/LinkReduce.vue";
import { initValues } from "@/components/partial/LinkReduce/data";
import { showErrorMessage, showSuccessMessage } from "@/helpers/error.handling.helper";
import { alertMessages } from "@/constants/messages";
import { useLinksStore } from "@/store/links";
import { useAccountStore } from "@/store/account";
import { DELAY_TIME } from "@/constants/constants";
import router from "@/router";

const storeLinks = useLinksStore();
const storeAccount = useAccountStore();

const onSave = async (data: IFormValues, resetForm: (state?: Partial<FormState<IFormValues>>) => void) => {
	try {
		await storeLinks.createLinks({ url: data.link });
		assignIn(storeAccount.alert, showSuccessMessage(alertMessages.successLink));
		resetForm({ values: initValues });
		setTimeout(async () => {
			await router.push({ name: "links" });
		}, DELAY_TIME);
	} catch (err: unknown) {
		assignIn(storeAccount.alert, showErrorMessage(err));
	}
};
</script>

<style lang="scss" scoped>
.links_create {
	width: 100%;
	padding: 20px;
}
</style>
