<template>
	<PrivateLayouts>
		<div id="link_stat" class="link_stat">
			<LinkCards :stat="statCards" :exclude-key="['countLinks']" class="link_stat__cards" />
			<h1 v-if="!isEmpty(records)" class="link_stat__title">Переходы</h1>
			<el-table v-if="!isEmpty(records)" :data="records" style="width: 100%" class="link_stat__table" border>
				<el-table-column label="Дата клика" min-width="100">
					<template #default="scope">
						<span>{{ getDate(scope.row.clickUtc) }}</span>
					</template>
				</el-table-column>
				<el-table-column label="Ip" min-width="50">
					<template #default="scope">
						<span>{{ scope.row.ip }}</span>
					</template>
				</el-table-column>
				<el-table-column label="UserAgent">
					<template #default="scope">
						<span>{{ scope.row.userAgent }}</span>
					</template>
				</el-table-column>
				<el-table-column label="Refer" min-width="100">
					<template #default="scope">
						<span>{{ scope.row.refer }}</span>
					</template>
				</el-table-column>
			</el-table>
		</div>
	</PrivateLayouts>
</template>

<script lang="ts" setup>
import { onMounted, reactive, ref } from "vue";
import isNaN from "lodash/isNaN";
import assignIn from "lodash/assignIn";
import { useRoute } from "vue-router";
import { ElTable, ElTableColumn } from "element-plus";
import isEmpty from "lodash/isEmpty";
import type { IStatModel } from "@/models/dto/LinksService/Models/Links/IStatModel";
import type { ILinkStat } from "@/helpers/linkstat.helper";
import LinkCards from "@/components/partial/LinkCards.vue";
import PrivateLayouts from "@/layouts/PrivateLayouts.vue";
import { showErrorMessage } from "@/helpers/error.handling.helper";
import router from "@/router";
import useLoading from "@/hooks/useLoading";
import { useAccountStore } from "@/store/account";
import { useLinksStore } from "@/store/links";
import { getDate } from "@/helpers/date.helper";

const route = useRoute();
const storeAccount = useAccountStore();
const storeLinks = useLinksStore();

const statCards = reactive<ILinkStat>({
	totalClicks: 0,
	dayClicks: 0,
	monthClicks: 0,
	countLinks: 0,
});
const records = ref<IStatModel[]>([]);

useLoading("#link_stat");

onMounted(async () => {
	const id = Number(route.params.id);
	if (id && !isNaN(id)) {
		try {
			const response = await storeLinks.stat(id);
			assignIn(statCards, {
				totalClicks: response.totalClicks,
				dayClicks: response.dayClicks,
				monthClicks: response.monthClicks,
				countLinks: 0,
			});
			records.value = response.records;
		} catch (err: unknown) {
			assignIn(storeAccount.alert, showErrorMessage(err));
		}
	} else {
		await router.push({ name: "dashboard" });
	}
});
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.link_stat {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	@include media-extra-small-down() {
		width: 100%;
	}

	@include media-extra-small-only2() {
		width: 100%;
	}

	&__cards {
		margin-bottom: 16px;
	}

	&__title {
		margin: 0;
		width: 100%;
		padding-bottom: 16px;
		font-size: 18px;
		text-align: center;

		@include media-extra-small-down() {
			display: none;
		}
	}

	&__table {
		@include media-extra-small-down() {
			display: none;
		}
	}
}
</style>
