<template>
	<PrivateLayouts>
		<div id="link_edit" class="link_edit">
			<div v-if="isEmpty(link) && !storeLinks.isLoading" class="link_edit__title">Нет данных</div>
			<Form
				v-else
				v-slot="{ validate, values }"
				as="el-form"
				:validation-schema="schema"
				class="link_edit__form"
				:initial-values="initValues"
			>
				<div class="link_edit__field_wrap">
					<Field v-slot="{ value, handleChange }" name="isActive">
						<div class="link_edit__input_wrap">
							<el-switch :model-value="value" @update:model-value="handleChange" />
						</div>
					</Field>
					<Field v-slot="{ value, field, errorMessage }" name="url">
						<div class="link_edit__input_wrap">
							<div class="link_edit__title">Исходная ссылка</div>
							<el-input v-bind="field" :validate-event="false" :model-value="value" class="link_edit__input_full" />
							<div v-if="errorMessage" class="link_edit__error">{{ errorMessage }}</div>
						</div>
					</Field>
					<Field v-slot="{ value, field }" name="code">
						<div class="link_edit__input_wrap">
							<div class="link_edit__title">Алиас</div>
							<el-input
								v-bind="field"
								:validate-event="false"
								:model-value="value"
								class="link_edit__input_full"
								disabled
							/>
						</div>
					</Field>
				</div>
				<div class="link_edit__btn_wrap">
					<el-button type="success" class="link_edit__btn" :size="'large'" @click="handleSave(validate, values)"
						>Сохранить
					</el-button>
					<el-button type="info" class="link_edit__btn" :size="'large'" @click="handleCancel">Отменить</el-button>
				</div>
			</Form>
		</div>
	</PrivateLayouts>
</template>

<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import isNaN from "lodash/isNaN";
import assignIn from "lodash/assignIn";
import { object } from "yup";
import { Field, Form, configure } from "vee-validate";
import { ElButton, ElInput, ElSwitch } from "element-plus";
import isEmpty from "lodash/isEmpty";
import type { Ref } from "vue";
import type { ILinkModel } from "@/models/dto/LinksService/Models/Links/ILinkModel";
import PrivateLayouts from "@/layouts/PrivateLayouts.vue";
import router from "@/router";
import { useAccountStore } from "@/store/account";
import { useLinksStore } from "@/store/links";
import { showErrorMessage, showSuccessMessage } from "@/helpers/error.handling.helper";
import { urlValidator } from "@/helpers/validator.helper";
import useLoading from "@/hooks/useLoading";
import { alertMessages } from "@/constants/messages";

const route = useRoute();
const storeAccount = useAccountStore();
const storeLinks = useLinksStore();
const link: Ref<ILinkModel> = ref({} as ILinkModel);

interface ILinkEditValues {
	url: string;
	code: string;
	isActive: boolean;
}

const initValues: Ref<ILinkEditValues> = ref({ url: "", code: "", isActive: true });

const schema = object({
	url: urlValidator,
});

useLoading("#link_edit");

configure({ validateOnBlur: false, validateOnChange: false, validateOnModelUpdate: false });

onMounted(async () => {
	const id = Number(route.params.id);
	if (id && !isNaN(id)) {
		try {
			const response = await storeLinks.getLink(id);
			link.value = response;
			initValues.value = { url: String(response.url), code: String(response.code), isActive: response.isActive };
		} catch (err: unknown) {
			assignIn(storeAccount.alert, showErrorMessage(err));
		}
	} else {
		await router.push({ name: "dashboard" });
	}
});

const handleSave = async (
	validate: () => Promise<{ valid: boolean; errors: Record<string, string> }>,
	values: ILinkEditValues
) => {
	const { valid } = await validate();
	if (valid) {
		try {
			await storeLinks.updateLinkLoading(link.value.id, { url: values.url, isActive: values.isActive });
			assignIn(storeAccount.alert, showSuccessMessage(alertMessages.updateLink));
			await router.push({ name: "links" });
		} catch (err: unknown) {
			assignIn(storeAccount.alert, showErrorMessage(err));
		}
	}
};

const handleCancel = async () => {
	await router.push({ name: "links" });
};
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.link_edit {
	@include media-extra-small-down() {
		width: 100%;
	}

	@include media-extra-small-only2() {
		width: 100%;
	}

	@include media-compact-only() {
		width: 100%;
	}

	&__form {
		display: flex;
		justify-content: center;
		gap: 16px;
		margin-bottom: 24px;
		align-items: flex-start;
		flex-direction: column;

		@include media-extra-small-down() {
			flex-direction: column;
			width: 100%;
		}

		@include media-extra-small-only2() {
			flex-direction: column;
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__input_wrap {
		position: relative;
		width: 100%;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__btn {
		padding: 12px 16px;
		font-size: 16px;
		font-weight: 500;
		height: auto;
		width: 180px;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}
	}

	&__input_full {
		width: 850px;
		height: 42px;
		font-size: 20px;
		font-weight: 500;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__error {
		position: absolute;
		left: 0;
		bottom: -22px;
		color: #f56c6c;
		font-size: 16px;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 16px;
	}

	&__btn_wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__field_wrap {
		display: flex;
		justify-content: center;
		gap: 16px;
		margin-bottom: 8px;
		align-items: flex-start;
		flex-direction: column;

		@include media-extra-small-down() {
			flex-direction: column;
			width: 100%;
		}

		@include media-extra-small-only2() {
			flex-direction: column;
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}
}
</style>
