<template>
	<PrivateLayouts>
		<el-table id="links_page__table" :data="links" class="links_page__table" border row-key="id">
			<el-table-column label="" width="65px">
				<template #default="scope">
					<el-switch
						v-model="scope.row.isActive"
						@change="(val: string | number | boolean) => switchChange(val, scope.row)"
					/>
				</template>
			</el-table-column>
			<el-table-column label="URL" width="310px">
				<template #default="scope">
					<div class="links_page__url__wrap">
						<el-link type="primary" class="links_page__url__code" :href="getLink(scope.row.code)" target="_blank"
							>{{ getLink(scope.row.code) }}
						</el-link>
						<el-popover trigger="hover" placement="top" width="auto">
							<template #default>
								<div>{{ scope.row.url }}</div>
							</template>
							<template #reference>
								<div class="links_page__url">{{ scope.row.url }}</div>
							</template>
						</el-popover>
					</div>
				</template>
			</el-table-column>
			<el-table-column label="Дата создания">
				<template #default="scope">
					<span>{{ getDate(scope.row.createdUtc) }}</span>
				</template>
			</el-table-column>
			<el-table-column label="">
				<template #default="scope">
					<LinkButtons :link="scope.row" @on-dialog="onDialog" @on-delete="onDelete" />
				</template>
			</el-table-column>
		</el-table>
		<div class="links_page__list">
			<div v-for="link in links" :key="link.id" class="links_page__item">
				<div class="links_page__row">
					<div class="links_page__col" />
					<div class="links_page__switch">
						<el-switch v-model="link.isActive" @change="(val: string | number | boolean) => switchChange(val, link)" />
					</div>
				</div>
				<div class="links_page__row">
					<div class="links_page__col links_page__title">URL</div>
					<div class="links_page__url__wrap">
						<el-link type="primary" class="links_page__url__code" :href="getLink(link.code)" target="_blank"
							>{{ getLink(link.code) }}
						</el-link>
						<div class="links_page__url">{{ link.url }}</div>
					</div>
				</div>
				<div class="links_page__row">
					<div class="links_page__col links_page__title">Дата</div>
					<div class="links_page__col links_page__desc">{{ getDate(link.createdUtc) }}</div>
				</div>
				<div class="links_page__row">
					<div class="links_page__col" />
					<div class="links_page__btns">
						<LinkButtons :link="link" @on-dialog="onDialog" />
					</div>
				</div>
			</div>
		</div>
		<LinkDialog :link="currentLink" :is-show="dialogVisible" @on-close="closeDialog" />
	</PrivateLayouts>
</template>

<script lang="ts" setup>
import { onMounted, ref } from "vue";
import assignIn from "lodash/assignIn";
import { ElLink, ElMessageBox, ElPopover, ElSwitch, ElTable, ElTableColumn } from "element-plus";
import type { ILinkModel } from "@/models/dto/LinksService/Models/Links/ILinkModel";
import { getDate } from "@/helpers/date.helper";
import PrivateLayouts from "@/layouts/PrivateLayouts.vue";
import { useLinksStore } from "@/store/links";

import useLoading from "@/hooks/useLoading";
import LinkButtons from "@/components/partial/LinkButtons.vue";
import { showErrorMessage } from "@/helpers/error.handling.helper";
import { useAccountStore } from "@/store/account";
import LinkDialog from "@/components/partial/LinkDialog.vue";

const storeLinks = useLinksStore();
const links = ref<ILinkModel[]>([]);
const storeAccount = useAccountStore();
const currentLink = ref<ILinkModel | null>(null);
const dialogVisible = ref(false);

const getAllLinks = async () => {
	const response = await storeLinks.getLinkAll();
	links.value = [...response];
};

onMounted(async () => {
	await getAllLinks();
});

useLoading("#links_page__table");

const getLink = (code: string) => {
	const apiUrl = import.meta.env.VITE_API_URL;
	return `${apiUrl}/t/${code}`;
};

const switchChange = async (val: string | number | boolean, link: ILinkModel) => {
	try {
		await storeLinks.updateLink(link.id, { url: link.url, isActive: Boolean(val) });
	} catch (err: unknown) {
		assignIn(storeAccount.alert, showErrorMessage(err));
	}
};

const onDialog = (link: ILinkModel) => {
	currentLink.value = link;
	dialogVisible.value = true;
};

const closeDialog = () => (dialogVisible.value = false);

const onDelete = async (link: ILinkModel) => {
	try {
		await ElMessageBox.confirm("Вы действительно хотите удалить ссылку?", "Удаление ссылки", {
			confirmButtonText: "OK",
			cancelButtonText: "Отмена",
			type: "warning",
		});
		await storeLinks.deleteLink(link.id);
		await getAllLinks();
	} catch (err: unknown) {
		if (err !== "cancel") assignIn(storeAccount.alert, showErrorMessage(err));
	}
};
</script>

<style lang="scss" scoped>
@import "@/styles/mixins.scss";
@import "@/styles/adaptive.scss";

.links_page {
	&__table {
		width: 100%;
		max-width: 960px;
		display: block;

		@include media-extra-small-down() {
			display: none;
		}

		@include media-extra-small-only2() {
			display: none;
		}
	}

	&__column__active {
		width: 25px;
	}

	&__url__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 4px;
	}

	&__url {
		font-size: 12px;
		@include ellipsis();
		max-width: 280px;
		cursor: pointer;
	}

	&__list {
		display: none;

		@include media-extra-small-down() {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 100%;
		}

		@include media-extra-small-only2() {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 100%;
		}
	}

	&__item {
		width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: #b1b3b8 1px solid;
	}

	&__row {
		display: grid;
		grid-template-columns: 50px 1fr;
		gap: 16px;
		margin-bottom: 4px;
	}

	&__title {
		font-weight: 600;
		font-size: 13px;
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__desc {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 13px;
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__switch {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
</style>
