<template>
	<div class="login">
		<div v-if="alert.isShow" class="login__form_wrap">
			<el-alert
				:title="alert.title"
				:type="alert.type"
				effect="dark"
				show-icon
				class="login__alert"
				@close="onCloseAlert"
			/>
		</div>
		<div class="login__wrapper">
			<Logo size="big" />
			<div class="login__wrap">
				<h1 class="login__title">Войти в свой аккаунт</h1>
				<p class="login__text">
					Нет аккаунта?
					<router-link :to="Routes.Register" class="login__link">Зарегистрироваться</router-link>
				</p>
				<Form
					v-slot="{ validate, values, resetForm }"
					as="el-form"
					:validation-schema="schema"
					class="login__form"
					:initial-values="initValues"
				>
					<Field v-slot="{ value, field, errorMessage }" name="email">
						<div class="login__input_wrap">
							<el-input
								v-bind="field"
								:validate-event="false"
								:model-value="value"
								placeholder="E-mail"
								class="login__input login__input__email"
							/>
							<div v-if="errorMessage" class="login__error">{{ errorMessage }}</div>
						</div>
					</Field>
					<Field v-slot="{ value, field, errorMessage }" name="password">
						<div class="login__input_wrap">
							<el-input
								v-bind="field"
								:validate-event="false"
								:model-value="value"
								placeholder="Пароль"
								class="login__input login__input__password"
								type="password"
								show-password
							/>
							<div v-if="errorMessage" class="login__error">{{ errorMessage }}</div>
						</div>
					</Field>
					<el-button
						type="success"
						class="login__btn"
						:size="'large'"
						:loading="storeAccount.isLoading"
						@click="handleClick(validate, values, resetForm)"
						>Войти
					</el-button>
				</Form>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { reactive } from "vue";
import { ElAlert, ElButton, ElInput } from "element-plus";
import { Field, Form, configure } from "vee-validate";
import { object } from "yup";
import assignIn from "lodash/assignIn";
import type { FormState } from "vee-validate";
import type { IAlert } from "@/helpers/error.handling.helper";
import type { ISignInRequestModel } from "@/models/dto/LinksService/Models/Authentication/ISignInRequestModel";
import { showErrorMessage } from "@/helpers/error.handling.helper";
import Logo from "@/components/base/Logo.vue";
import { Routes } from "@/router/routes";
import { emailValidator, passwordValidator } from "@/helpers/validator.helper";
import { useAccountStore } from "@/store/account";
import router from "@/router";

interface IFormValues {
	email: string;
	password: string;
}
const storeAccount = useAccountStore();

const alert = reactive<IAlert>({ isShow: false, title: "", type: "success" });
const onCloseAlert = () => {
	alert.isShow = false;
};

const schema = object({
	email: emailValidator,
	password: passwordValidator,
});

const initValues: IFormValues = { email: "", password: "" };

configure({ validateOnBlur: false, validateOnChange: false, validateOnModelUpdate: false });
const onSave = async (data: IFormValues, resetForm: (state?: Partial<FormState<IFormValues>>) => void) => {
	try {
		await storeAccount.signIn(data as ISignInRequestModel);
		resetForm({ values: initValues });
		await router.push({ name: "dashboard" });
	} catch (err: unknown) {
		assignIn(alert, showErrorMessage(err));
	}
};
const handleClick = async (
	validate: () => Promise<{ valid: boolean; errors: Record<string, string> }>,
	values: IFormValues,
	resetForm: (state?: Partial<FormState<IFormValues>>) => void
) => {
	const { valid } = await validate();
	if (valid) await onSave(values, resetForm);
};
</script>

<style lang="scss" scoped>
@import "@/styles/hover.scss";
@import "@/styles/animation.scss";
@import "@/styles/adaptive.scss";

.login {
	min-height: 100vh;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 24px;
		width: 100%;
	}

	&__wrap {
		width: 600px;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 400px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		margin: 0;
		padding-bottom: 12px;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		margin: 0;
		padding-bottom: 24px;
	}

	&__link {
		color: #409eff;
		text-decoration: none;

		&:hover {
			color: #79bbff;
			text-decoration: underline;
		}
	}

	&__input_wrap {
		position: relative;
		width: 100%;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__input {
		height: 52px;
	}

	&__btn {
		width: 100%;
		font-size: 16px;
		height: 52px;
	}

	&__wrapper {
		padding: 48px;
		border: 1px solid #dcdfe6;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@include media-extra-small-down() {
			padding: 20px;
			width: 100%;
		}
	}

	&__error {
		position: absolute;
		left: 0;
		bottom: -22px;
		color: #f56c6c;
		font-size: 16px;
	}

	&__input {
		height: 54px;
		font-size: 20px;
		font-weight: 500;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__form_wrap {
		position: fixed;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: 500px;
	}

	&__alert {
		@include fadeIn(0.7s);
	}
}
</style>
