<template>
	<div class="link_form">
		<div v-if="alert.isShow" class="link_form__form_wrap">
			<el-alert
				:title="alert.title"
				:type="alert.type"
				effect="dark"
				show-icon
				class="link_form__alert"
				@close="onCloseAlert"
			/>
		</div>
		<LinkReduce @on-save="onSave" />
		<LinkCommon v-if="isShowPanel" :share-link="shareLink" @on-copy="copyToClipboard" />
	</div>
</template>

<script lang="ts" setup>
import { reactive, ref } from "vue";
import { ElAlert } from "element-plus";
import isEmpty from "lodash/isEmpty";
import assignIn from "lodash/assignIn";
import type { FormState } from "vee-validate";
import type { IAlert } from "@/helpers/error.handling.helper";
import type { IFormValues } from "@/components/partial/LinkReduce/data";
import { showErrorMessage, showSuccessMessage } from "@/helpers/error.handling.helper";
import { copyTextToClipboard } from "@/helpers/clipboard.helper";
import LinkCommon from "@/components/partial/LinkCommon/LinkCommon.vue";
import { useLinksStore } from "@/store/links";
import { alertMessages } from "@/constants/messages";
import { initValues } from "@/components/partial/LinkReduce/data";
import LinkReduce from "@/components/partial/LinkReduce/LinkReduce.vue";
import { createLink } from "@/helpers/links.helper";

const shareLink = ref("");
const alert = reactive<IAlert>({ isShow: false, title: "", type: "success" });
const storeLinks = useLinksStore();
const isShowPanel = ref(false);

const copyToClipboard = () => {
	if (!isEmpty(shareLink.value)) {
		copyTextToClipboard(shareLink.value).then(() => assignIn(alert, showSuccessMessage(alertMessages.copiedLink)));
	}
};

const onCloseAlert = () => {
	alert.isShow = false;
};

const onSave = async (data: IFormValues, resetForm: (state?: Partial<FormState<IFormValues>>) => void) => {
	try {
		const response = await storeLinks.createLinks({ url: data.link });
		shareLink.value = createLink(response.code);
		assignIn(alert, showSuccessMessage(alertMessages.successLink));
		resetForm({ values: initValues });
		isShowPanel.value = true;
	} catch (err: unknown) {
		assignIn(alert, showErrorMessage(err));
	}
};
</script>

<style lang="scss" scoped>
@import "@/styles/hover.scss";
@import "@/styles/animation.scss";
@import "@/styles/adaptive.scss";

.link_form {
	width: 100%;

	&__form_wrap {
		position: fixed;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: 500px;

		@include media-extra-small-down() {
			width: calc(100vw - 20px);
		}

		@include media-extra-small-only2() {
			width: calc(100vw - 20px);
		}
	}

	&__alert {
		@include fadeIn(0.7s);
	}
}
</style>
