<template>
	<div class="link_card">
		<div class="link_card__icon_wrap">
			<div class="link_card__icon">
				<el-icon class="link_card__icon"><Component :is="props.icon" /></el-icon>
			</div>
		</div>
		<div class="link_card__body">
			<div class="link_card__body_title">{{ props.title }}</div>
			<div class="link_card__body_count">{{ props.count }}</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { ElIcon } from "element-plus";

interface ILinkCardProps {
	icon: any;
	title: string;
	count: number;
}
const props = defineProps<ILinkCardProps>();
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.link_card {
	padding: 20px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	border: 1px solid #e4e7ed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;
	flex: 1;

	@include media-extra-small-down() {
		width: 100%;
	}

	@include media-extra-small-only2() {
		width: 100%;
	}

	&__icon {
		height: 30px;
		width: 30px;

		&:deep(path) {
			fill: #337ecc;
		}

		&:deep(svg) {
			height: 30px;
			width: 30px;
		}
	}

	&__icon_wrap {
		width: 65px;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #337ecc;
		border-radius: 50%;
		min-width: 65px;
	}

	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
	}

	&__body_title {
		font-size: 14px;
		color: #868e96;
	}

	&__body_count {
		font-size: 24px;
		color: #373757;
	}
}
</style>
