<template>
	<el-tooltip class="link_buttons__box_item" effect="dark" content="Скопировать" placement="top">
		<el-button text class="link_buttons__btn" @click="handleCopy(props.link)">
			<el-icon class="link_buttons__icon">
				<CopyIcon />
			</el-icon>
		</el-button>
	</el-tooltip>
	<el-tooltip class="link_buttons__box_item" effect="dark" content="Статистика" placement="top">
		<el-button text class="link_buttons__btn" @click="handleStat(props.link)">
			<el-icon class="link_buttons__icon__stat">
				<StatIcon />
			</el-icon>
		</el-button>
	</el-tooltip>
	<el-tooltip class="link_buttons__box_item" effect="dark" content="Поделиться" placement="top">
		<el-button text class="link_buttons__btn" @click="handleShare(props.link)">
			<el-icon class="link_buttons__icon">
				<ShareIcon />
			</el-icon>
		</el-button>
	</el-tooltip>
	<el-tooltip class="link_buttons__box_item" effect="dark" content="Редактировать" placement="top">
		<el-button text class="link_buttons__btn" @click="handleEdit(props.link)">
			<el-icon class="link_buttons__icon__edit">
				<EditIcon />
			</el-icon>
		</el-button>
	</el-tooltip>
	<el-tooltip class="link_buttons__box_item" effect="dark" content="Удалить" placement="top">
		<el-button text class="link_buttons__btn" @click="handleDelete(props.link)">
			<el-icon class="link_buttons__icon">
				<DeleteIcon />
			</el-icon>
		</el-button>
	</el-tooltip>
</template>

<script lang="ts" setup>
import { ElButton, ElIcon, ElTooltip } from "element-plus";
import type { ILinkModel } from "@/models/dto/LinksService/Models/Links/ILinkModel";
import CopyIcon from "@/assets/icons/copy.svg";
import StatIcon from "@/assets/icons/stat.svg";
import ShareIcon from "@/assets/icons/share.svg";
import EditIcon from "@/assets/icons/edit.svg";
import DeleteIcon from "@/assets/icons/delete.svg";
import useCopyLink from "@/hooks/useCopyLink";
import router from "@/router";

interface ILinkButtonProps {
	link: ILinkModel;
}
interface ILinkButtonEmits {
	(e: "onDialog", link: ILinkModel): void;
	(e: "onDelete", link: ILinkModel): void;
}

const props = defineProps<ILinkButtonProps>();
const emit = defineEmits<ILinkButtonEmits>();

const { handleCopy } = useCopyLink();
const handleShare = (link: ILinkModel) => emit("onDialog", link);

const handleEdit = async (link: ILinkModel) => {
	await router.push({ name: "links_edit", params: { id: link.id } });
};

const handleStat = async (link: ILinkModel) => {
	await router.push({ name: "links_stat", params: { id: link.id } });
};

const handleDelete = (link: ILinkModel) => emit("onDelete", link);
</script>

<style lang="scss" scoped>
.link_buttons {
	&__btn {
		padding: 0;
	}

	&__icon {
		height: 20px;
		width: 20px;

		&:deep(path) {
			fill: #337ecc;
		}

		&:deep(svg) {
			height: 20px;
			width: 20px;
		}
	}

	&__icon__edit {
		height: 25px;
		width: 25px;

		&:deep(svg) {
			height: 25px;
			width: 25px;
			fill: #337ecc;
		}
	}

	&__icon__stat {
		height: 25px;
		width: 25px;

		&:deep(svg) {
			height: 25px;
			width: 25px;
		}

		&:deep(rect) {
			stroke: #337ecc;
		}
	}
}
</style>
