<template>
	<el-dialog
		:model-value="props.isShow"
		title="Поделиться ссылкой"
		align-center
		:before-close="closeDialog"
		class="link_dialog"
	>
		<LinkCommon :share-link="createLink(link.code)" theme="dialog" @on-copy-link="(value) => handleCopyLink(value)" />
	</el-dialog>
</template>

<script lang="ts" setup>
import { ElDialog } from "element-plus";
import type { ILinkModel } from "@/models/dto/LinksService/Models/Links/ILinkModel";
import { createLink } from "@/helpers/links.helper";
import LinkCommon from "@/components/partial/LinkCommon/LinkCommon.vue";
import useCopyLink from "@/hooks/useCopyLink";

interface ILinkDialogProps {
	isShow: boolean;
	link: ILinkModel;
}

interface ILinkDialogEmits {
	(e: "onClose"): void;
}

const props = defineProps<ILinkDialogProps>();
const emit = defineEmits<ILinkDialogEmits>();

const { handleCopyLink } = useCopyLink();

const closeDialog = (done: () => void) => {
	done();
	emit("onClose");
};
</script>

<style lang="scss">
@import "@/styles/adaptive.scss";

.link_dialog {
}

.el-dialog {
	--el-dialog-width: 600px;

	@include media-extra-small-down() {
		--el-dialog-width: 90vw;
	}

	@include media-extra-small-only2() {
		--el-dialog-width: 60vw;
	}
}
</style>
