<template>
	<div class="link_cards">
		<LinkCard
			v-if="!excludeKey.includes('countLinks')"
			title="Количество ссылок"
			:icon="LinkIcon"
			:count="Number(props.stat.countLinks)"
		/>
		<LinkCard
			v-if="!excludeKey.includes('dayClicks')"
			title="Переходы сегодня"
			:icon="ProgressIcon"
			:count="Number(props.stat.dayClicks)"
		/>
		<LinkCard
			v-if="!excludeKey.includes('monthClicks')"
			title="Переходы за месяц"
			:icon="CalendarIcon"
			:count="Number(props.stat.monthClicks)"
		/>
		<LinkCard
			v-if="!excludeKey.includes('totalClicks')"
			title="Всего переходов"
			:icon="TargetIcon"
			:count="Number(props.stat.totalClicks)"
		/>
	</div>
</template>

<script lang="ts" setup>
import type { ILinkStat } from "@/helpers/linkstat.helper";
import ProgressIcon from "@/assets/icons/progress.svg";
import CalendarIcon from "@/assets/icons/calendar.svg";
import TargetIcon from "@/assets/icons/target.svg";
import LinkIcon from "@/assets/icons/link.svg";
import LinkCard from "@/components/partial/LinkCard.vue";

interface ILinkStatProps {
	stat: ILinkStat;
	excludeKey: string[];
}

const props = defineProps<ILinkStatProps>();
</script>

<style lang="scss" scoped>
@import "@/styles/adaptive.scss";

.link_cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 960px;
	gap: 16px;

	@include media-extra-small-down() {
		flex-direction: column;
		width: 100%;
	}

	@include media-extra-small-only2() {
		flex-direction: row;
		width: 100%;
	}

	@include media-compact-only() {
		width: 100%;
	}
}
</style>
