<template>
	<el-menu class="menu" :router="true" :default-active="$route.path">
		<el-menu-item :index="Routes.Dashboard" class="menu__menu_item" :route="{ name: 'dashboard' }">
			<el-icon class="menu__icon">
				<DashboardIcon />
			</el-icon>
			<span class="menu__text">Статистика</span>
		</el-menu-item>
		<el-menu-item :index="Routes.LinksCreate" class="menu__menu_item" :route="{ name: 'links_create' }">
			<el-icon class="menu__icon">
				<LinksIcon />
			</el-icon>
			<span class="menu__text">Сократить</span>
		</el-menu-item>
		<el-menu-item :index="Routes.Links" class="menu__menu_item" :route="{ name: 'links' }">
			<el-icon class="menu__icon">
				<ShrinkIcon />
			</el-icon>
			<span class="menu__text">Мои ссылки</span>
		</el-menu-item>
		<a class="menu__menu_item" href="#" @click.prevent="handleClick">
			<el-icon class="menu__icon">
				<ExitIcon />
			</el-icon>
			<span class="menu__text">Выйти</span>
		</a>
	</el-menu>
</template>

<script lang="ts" setup>
import { ElIcon, ElMenu, ElMenuItem } from "element-plus";
import assignIn from "lodash/assignIn";
import { Routes } from "@/router/routes";
import DashboardIcon from "@/assets/icons/dashboard.svg";
import ExitIcon from "@/assets/icons/exit.svg";
import LinksIcon from "@/assets/icons/links.svg";
import ShrinkIcon from "@/assets/icons/shrink.svg";
import router from "@/router";
import { showErrorMessage } from "@/helpers/error.handling.helper";
import { useAccountStore } from "@/store/account";

const storeAccount = useAccountStore();
const handleClick = async () => {
	try {
		await storeAccount.signOut();
		await router.push({ name: "home" });
	} catch (err: unknown) {
		assignIn(storeAccount.alert, showErrorMessage(err));
	}
};
</script>

<style lang="scss" scoped>
.menu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #409eff;
	border-right: none;

	&__menu_item {
		padding: 10px 20px;
		width: 100%;
		position: relative;
		color: white;
		font-size: 16px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;

		&:hover {
			background-color: #337ecc;
		}

		&.is-active {
			font-weight: 500;
		}

		&.is-active:before {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 3px;
			background-color: #ffa140;
		}
	}

	&__icon {
		height: 25px;
		width: 25px;
	}

	&__text {
		line-height: normal;
	}
}
</style>
