<template>
	<div class="private_layout">
		<div v-if="storeAccount.alert.isShow" class="private_layout__form_wrap">
			<el-alert
				:title="storeAccount.alert.title"
				:type="storeAccount.alert.type"
				effect="dark"
				show-icon
				class="private_layout__alert"
				@close="onCloseAlert"
			/>
		</div>
		<el-container class="private_layout__wrap private_layout__box">
			<el-header class="private_layout__header">
				<el-button text class="private_layout__btn" @click="drawer = true">
					<el-icon class="private_layout__icon">
						<HamburgerIcon />
					</el-icon>
				</el-button>
				<Logo />
			</el-header>
			<el-container class="private_layout__wrap">
				<el-aside width="250px" class="private_layout__aside">
					<div class="private_layout__logo_wrap">
						<Logo size="big" />
					</div>
					<Menu />
				</el-aside>
				<el-main class="private_layout__main">
					<div class="private_layout__wrapper private_layout__wrapper__main">
						<slot />
					</div>
				</el-main>
			</el-container>
		</el-container>
		<el-drawer
			v-model="drawer"
			title="Menu"
			direction="ltr"
			class="private_layout__drawer"
			size="100%"
			modal-class="private_layout__drawer_modal"
		>
			<Menu />
		</el-drawer>
	</div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { ElAlert, ElAside, ElButton, ElContainer, ElDrawer, ElHeader, ElIcon, ElMain } from "element-plus";
import Logo from "@/components/base/Logo.vue";
import { useAccountStore } from "@/store/account";
import Menu from "@/components/partial/Menu.vue";
import HamburgerIcon from "@/assets/icons/hamburger.svg";

const drawer = ref(false);
const storeAccount = useAccountStore();
const onCloseAlert = () => (storeAccount.alert.isShow = false);
</script>

<style lang="scss">
@import "@/styles/animation.scss";
@import "@/styles/adaptive.scss";

.private_layout {
	height: 100%;
	width: 100%;

	&__wrap {
		display: flex;
		align-content: center;
		justify-content: center;
		width: 100%;
		min-height: 100vh;
	}

	&__box {
		@include media-extra-small-down() {
			margin-top: 60px;
		}
	}

	&__main {
		flex: 1;
	}

	&__wrapper {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__logo_wrap {
		width: 100%;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__aside {
		background-color: #409eff;
		box-shadow: 0 5px 20px rgb(0 0 0 / 50%);

		@include media-extra-small-down() {
			display: none;
		}

		@include media-extra-small-only2() {
			display: none;
		}
	}

	&__form_wrap {
		position: fixed;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 500px;
		z-index: 3000;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}
	}

	&__alert {
		@include fadeIn(0.7s);

		@include media-extra-small-down() {
			width: 90vw;
			margin: 0 auto;
		}

		@include media-extra-small-only2() {
			width: 60vw;
			margin: 0 auto;
		}
	}

	&__header {
		display: none;

		@include media-extra-small-down() {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #409eff;
			z-index: 10;
		}

		@include media-extra-small-only2() {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #409eff;
			z-index: 10;
		}
	}

	&__icon {
		height: 25px;
		width: 25px;
	}

	&__icon svg {
		height: 25px;
		width: 25px;
		display: block;
	}

	&__icon svg {
		path {
			fill: white;
		}
	}

	&__btn {
		padding: 0;
	}

	&__btn.is-text:not(.is-disabled):focus,
	&__btn.is-text:not(.is-disabled):hover {
		background-color: transparent;
	}

	&__drawer {
		padding: 0;
		background-color: #409eff;
	}
}

.el-drawer__body {
	padding: 0;
}

.el-drawer__header {
	background-color: white;
	padding-bottom: 24px;
	margin-bottom: 0;
}
</style>
