<template>
	<div class="public_layout">
		<el-container class="public_layout__wrap">
			<el-header class="public_layout__header">
				<div class="public_layout__wrapper">
					<Logo />
					<div class="public_layout__auth">
						<template v-if="!storeAccount.isAuthenticated">
							<router-link :to="Routes.Login" class="public_layout__link hvr-grow">
								<el-icon class="public_layout__icon">
									<User />
								</el-icon>
								<span class="public_layout__text">Вход</span>
							</router-link>
							<router-link :to="Routes.Register" class="public_layout__link hvr-grow">
								<el-icon class="public_layout__icon">
									<Sunrise />
								</el-icon>
								<span class="public_layout__text">Регистрация</span>
							</router-link>
						</template>
						<template v-else>
							<router-link :to="Routes.Dashboard" class="public_layout__link hvr-grow">
								<el-icon class="public_layout__icon">
									<User />
								</el-icon>
								<span v-if="!isNull(storeAccount.currentUserInfo)" class="public_layout__text">{{
									storeAccount.currentUserInfo.email
								}}</span>
							</router-link>
						</template>
					</div>
				</div>
			</el-header>
			<el-main class="public_layout__main">
				<div class="public_layout__wrapper public_layout__wrapper__main">
					<slot />
				</div>
			</el-main>
			<el-footer class="public_layout__footer">
				<div class="public_layout__wrapper public_layout__wrapper__footer">&copy; Oleg Grebenev, 2022 - 2023</div>
			</el-footer>
		</el-container>
	</div>
</template>

<script lang="ts" setup>
import { ElContainer, ElFooter, ElHeader, ElIcon, ElMain } from "element-plus";
import isNull from "lodash/isNull";
import Logo from "@/components/base/Logo.vue";
import { Routes } from "@/router/routes";
import { useAccountStore } from "@/store/account";

const storeAccount = useAccountStore();
</script>

<style lang="scss" scoped>
@import "@/styles/hover.scss";
@import "@/styles/adaptive.scss";

.public_layout {
	height: 100%;
	width: 100%;

	&__wrap {
		display: flex;
		align-content: center;
		justify-content: center;
		width: 100%;
		flex-direction: column;
		height: 100vh;
	}

	&__header {
		background-color: #409eff;
		color: white;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__main {
		flex: 1;
	}

	&__footer {
		background-color: #409eff;
		color: white;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__wrapper {
		max-width: 1140px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media-extra-small-down() {
			height: auto;
		}

		@include media-extra-small-only2() {
			height: auto;
		}
	}

	&__wrapper__footer {
		justify-content: center;
	}

	&__wrapper__main {
		justify-content: center;
	}

	&__auth {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	&__link {
		color: white;
		font-size: 16px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	&__icon {
		height: 25px;
		width: 25px;
	}

	&__text {
		line-height: normal;
	}
}
</style>
