<template>
	<div class="link_common" :class="{ link_common__theme__dialog: isDialog }">
		<div class="link_common__left_block">
			<form class="link_common__form_share" :class="{ link_common__form_share__dialog: isDialog }">
				<el-input
					:value="shareLink"
					class="link_common__input_copy"
					:class="{ link_common__input_copy__dialog: isDialog }"
				/>
				<el-button v-if="!isDialog" type="default" class="link_common__btn" :size="'large'" @click="emit('onCopy')"
					>Копировать
				</el-button>
				<el-tooltip v-if="isDialog" class="link_common__box_item" effect="dark" content="Скопировать" placement="top">
					<el-button text class="link_common__btn_copy" @click="emit('onCopyLink', shareLink)">
						<el-icon class="link_common__icon_copy">
							<CopyIcon />
						</el-icon>
					</el-button>
				</el-tooltip>
			</form>
			<div class="link_common__row">
				<template v-for="link in links" :key="link.id">
					<el-link :href="link.href" link class="link_common__link hvr-grow" type="info">
						<Component :is="link.component" class="link_common__icon" />
					</el-link>
				</template>
			</div>
		</div>
		<div class="link_common__right_block">
			<div class="link_common__picture_qr">
				<vue-qrcode :value="shareLink" type="image/png" :color="color" :width="110" :margin="0" />
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { reactive, watchEffect } from "vue";
import { ElButton, ElIcon, ElInput, ElLink, ElTooltip } from "element-plus";
import VueQrcode from "vue-qrcode";
import assignIn from "lodash/assignIn";
import { color, getLinks } from "./data";
import type { ILink } from "./data";
import CopyIcon from "@/assets/icons/copy.svg";

interface ILinkCommonProps {
	shareLink: string;
	theme?: "dialog";
}

interface ILinkCommonEmits {
	(e: "onCopy"): void;
	(e: "onCopyLink", link: string): void;
}

const props = defineProps<ILinkCommonProps>();
const emit = defineEmits<ILinkCommonEmits>();
const links = reactive<ILink[]>([]);
const isDialog = props.theme === "dialog";

watchEffect(() => assignIn(links, getLinks(props.shareLink)));
</script>

<style lang="scss" scoped>
@import "@/styles/hover.scss";
@import "@/styles/animation.scss";
@import "@/styles/adaptive.scss";

.link_common {
	@include fadeIn(2s);
	width: 100%;
	display: grid;
	align-items: flex-start;
	justify-content: center;
	gap: 16px;
	grid-template-columns: minmax(200px, 1fr) 120px;
	border: #409eff 1px dashed;
	padding: 24px;

	@include media-extra-small-down() {
		grid-template-columns: 1fr;
		padding: 12px;
		margin-bottom: 12px;
	}

	@include media-extra-small-only2() {
		grid-template-columns: 1fr;
		padding: 12px;
		margin-bottom: 12px;
	}

	&__theme__dialog {
		border: none;
		padding: 0;
	}

	&__form_share {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0;
		margin-bottom: 16px;

		@include media-extra-small-down() {
			flex-direction: column;
			gap: 16px;
		}

		@include media-extra-small-only2() {
			flex-direction: column;
			gap: 16px;
		}
	}

	&__form_share__dialog {
		@include media-extra-small-down() {
			flex-direction: row;
			gap: 8px;
		}

		@include media-extra-small-only2() {
			flex-direction: row;
			gap: 8px;
		}
	}

	&__picture_qr {
		height: 110px;
		width: 110px;
		margin: 0 auto;
	}

	&__icon {
		height: 30px;
		width: 30px;

		&:deep(path) {
			fill: #337ecc;
		}
	}

	&__input_copy {
		height: 54px;
		font-size: 20px;
		font-weight: 500;

		&:deep(.el-input__wrapper) {
			background-color: #d9ecff;
		}
	}

	&__btn {
		padding: 16px 32px;
		font-size: 20px;
		font-weight: 500;
		height: auto;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		&:hover:after {
			content: none;
		}
	}

	&__btn_copy {
		padding: 6px 12px;
		height: 45px;
		border: #337ecc 1px solid;

		&.is-text:not(.is-disabled):hover {
			background-color: #337ecc;

			&:deep(path) {
				fill: white;
			}
		}
	}

	&__icon_copy {
		height: 20px;
		width: 20px;

		&:deep(path) {
			fill: #337ecc;
		}

		&:deep(svg) {
			height: 20px;
			width: 20px;
		}
	}

	&__input_copy__dialog {
		height: 45px;
		font-size: 20px;
		font-weight: 500;
	}
}
</style>
