<template>
	<Form
		v-slot="{ validate, values, resetForm }"
		as="el-form"
		:validation-schema="schema"
		class="link_reduce__form"
		:class="{ link_reduce__form__vertikal: props.layout === 'vertikal' }"
		:initial-values="initValues"
	>
		<Field v-slot="{ value, field, errorMessage }" name="link">
			<div class="link_reduce__input_wrap">
				<el-input
					v-bind="field"
					:validate-event="false"
					:model-value="value"
					placeholder="Введите ссылку"
					class="link_reduce__input_reduce"
					:class="{ link_reduce__input_reduce__vertikal: props.layout === 'vertikal' }"
				/>
				<div v-if="errorMessage" class="link_reduce__error">{{ errorMessage }}</div>
			</div>
		</Field>
		<el-button
			type="success"
			class="link_reduce__btn"
			:size="'large'"
			:loading="storeLinks.isLoading"
			@click="handleClick(validate, values, resetForm)"
			>Сократить
		</el-button>
	</Form>
</template>

<script lang="ts" setup>
import { ElButton, ElInput } from "element-plus";
import { Field, Form, configure } from "vee-validate";
import { object } from "yup";
import type { FormState } from "vee-validate";
import type { IFormValues } from "@/components/partial/LinkReduce/data";
import { initValues } from "@/components/partial/LinkReduce/data";
import { urlValidator } from "@/helpers/validator.helper";
import { useLinksStore } from "@/store/links";

interface ILinkReduceProps {
	layout?: "vertikal";
}

interface ILinkReduceEmits {
	(e: "onSave", values: IFormValues, resetForm: (state?: Partial<FormState<IFormValues>>) => void): void;
}

const props = defineProps<ILinkReduceProps>();
const emit = defineEmits<ILinkReduceEmits>();

const storeLinks = useLinksStore();
const schema = object({
	link: urlValidator,
});

configure({ validateOnBlur: false, validateOnChange: false, validateOnModelUpdate: false });

const handleClick = async (
	validate: () => Promise<{ valid: boolean; errors: Record<string, string> }>,
	values: IFormValues,
	resetForm: (state?: Partial<FormState<IFormValues>>) => void
) => {
	const { valid } = await validate();
	if (valid) await emit("onSave", values, resetForm);
};
</script>

<style lang="scss" scoped>
@import "@/styles/hover.scss";
@import "@/styles/animation.scss";
@import "@/styles/adaptive.scss";

.link_reduce {
	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin-bottom: 24px;

		@include media-extra-small-down() {
			flex-direction: column;
			width: 100%;
		}

		@include media-extra-small-only2() {
			flex-direction: column;
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__form__vertikal {
		align-items: flex-start;
		flex-direction: column;
	}

	&__input_wrap {
		position: relative;
		width: 100%;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__btn {
		padding: 16px 32px;
		font-size: 20px;
		font-weight: 500;
		height: auto;
		width: 180px;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}
	}

	&__input_reduce {
		width: 850px;
		height: 54px;
		font-size: 20px;
		font-weight: 500;

		@include media-extra-small-down() {
			width: 100%;
		}

		@include media-extra-small-only2() {
			width: 100%;
		}

		@include media-compact-only() {
			width: 100%;
		}
	}

	&__input_reduce__vertikal {
		width: 100%;
		max-width: 960px;
	}

	&__error {
		position: absolute;
		left: 0;
		bottom: -22px;
		color: #f56c6c;
		font-size: 16px;
	}
}
</style>
