<template>
	<router-link :to="Routes.Root" :class="['logo', { logo__big: props.size === 'big' }]">
		<el-icon :size="props.size === 'big' ? '30' : '20'" class="logo__icon">
			<Link class="logo__icon__link" />
		</el-icon>
	</router-link>
</template>

<script lang="ts" setup>
import { ElIcon } from "element-plus";
import { Routes } from "@/router/routes";

interface ILogoProps {
	size?: "big";
}

const props = defineProps<ILogoProps>();
</script>

<style lang="scss" scoped>
.logo {
	height: 40px;
	width: 40px;
	background-color: #337ecc;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	transition: transform 0.2s;

	&:hover {
		transform: rotate(1turn);
	}

	&__big {
		height: 60px;
		width: 60px;
	}
}
</style>
